<!-- <form method="POST">
    <input name="text">
    <input type="submit">
</form> --> 
<body background= {{ background }}>
<form method="POST">
    <select name="text"> <!-- could be replaced with d3.append method -->-->
        <option>A's</option>
        <option>Angels</option>
        <option>Astros</option>
        <option>Blue Jays</option>
        <option>Braves</option>
        <option>Brewers</option>
        <option>Cardinals</option>
        <option>Cubs</option>
        <option>Dbacks</option>
        <option>Dodgers</option>
        <option>Giants</option>
        <option>Indians</option>
        <option>Mariners</option>
        <option>Marlins</option>
        <option>Mets</option>
        <option>Nationals</option>
        <option>Orioles</option>
        <option>Padres</option>
        <option>Phillies</option>
        <option>Pirates</option>
        <option>Rangers</option>
        <option>Rays</option>
        <option>Reds</option>
        <option>Red Sox</option>
        <option>Rockies</option>
        <option>Royals</option>
        <option>Tigers</option>
        <option>Twins</option>
        <option>White Sox</option>
        <option>Yankees</option>
    </select><br>
    <input type="submit">
</form>


<!-- <img src="{{ processed_texts }}" style="width:10%"> -->
<!-- {{ processed_texts }} -->
</body>